@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

body {
  font-family: 'Open Sans', sans-serif;
  margin: 5%;
}

h1, h2, h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  white-space: nowrap;
}

code {
  font-family: Inconsolata, monospace;
  font-size: 110%;
}

#url { margin: 0 1em; }
